#list div {
  width: 25%;
  background-color: chartreuse;
  padding: 3%;
  margin: 1%;

}

#list {
  display: flex;
  flex-wrap: wrap;

  /* width: 100vw; */
}

.brewers {
  display: flex;
  justify-content: center;
  align-items: center;
}